[submodule "relayserver"]
	path = relayserver
	url = https://github.com/schlangenprogrammiernacht/relayserver.git
[submodule "website"]
	path = website
	url = https://github.com/schlangenprogrammiernacht/website.git
[submodule "gameserver"]
	path = gameserver
	url = https://github.com/schlangenprogrammiernacht/gameserver.git
